<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/note-crud/tests" />
        <option value="$PROJECT_DIR$/auth-user/tests" />
        <option value="$PROJECT_DIR$/note-service/tests" />
      </list>
    </option>
  </component>
</project>